<div class="page-header">
  <h3>{{post.title}}</h3>
  <p>
    <a ng-show="post.link" href="{{post.link}}">
      Read article
    </a>
    <span ng-hide="post.link">
      Read article
    </span>
  </p>
</div>

<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
  <span class="glyphicon glyphicon-thumbs-up upvote"
    ng-click="incrementUpvotes(comment)"></span>
  {{comment.upvotes}} - by {{comment.author}}
  <span style="font-size:20px; margin-left:10px;">
    {{comment.body}}
  </span>
</div>

<form ng-submit="addComment()"
style="margin-top:30px;">
  <h3>Add a new comment</h3>

  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="Enter Commnet here" ng-model="body"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Comment</button>
  <button type="button" class= "btn btn-default" ng-click="clearComment()">Cancel</button>
</form>
<br>
<a href="javascript:void(0)" ng-click="home()"><<< back</a>